<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container" id="app" v-cloak>
        <br>
        <div class="alert alert-primary">
            <i>We are a collective of PhD students registered at Queen Mary University of London. We do not claim to be
                representatives nor speak on behalf of Queen Mary University of London. This website is in no way affiliated
                with Queen Mary University of London. Contact us here: <a href="mailto:qmul.phd@gmail.com">qmul.phd@gmail.com</a> 
                and follow us on Twitter: <a href="https://twitter.com/QueenMaryPhDs">@QueenMaryPhDs</a></i>
        </div>
        <h3>Open letter from Queen Mary University of London PhD students to Colin Bailey (Principal), Andrew
            Livingstone (VP for Research) and Adrian Armstrong (Director, Doctoral College)</h3>
        <br>
        <div class="embed-responsive embed-responsive-16by9 shadow-lg p-3 mb-5 bg-white rounded">
            <iframe class="embed-responsive-item"
                src="https://docs.google.com/document/d/e/2PACX-1vQvBvmkR-tPWuOXzzBHOD1lnceA7JDoj7QNexPRKT__tsddjExIU-OycuYHOx7zvYPpF3vUzPDzopZI/pub?embedded=true"></iframe>
        </div>
        <div v-if="!alreadySigned">
            <h2>Your Signature</h2>
            <form action="post" class="form-horizontal" @submit="submitSignature">
                <div class="form-group">
                    <label for="name" class="control-label">Name</label>
                    <input type="text" id="name" class="form-control" required placeholder="Name" v-model="name">
                </div>
                <div class="form-group">
                    <label for="position" class="control-label">Position</label>
                    <input type="text" id="position" class="form-control" required placeholder="Position"
                        v-model="position">
                </div>
                <div class="form-group">
                    <label for="department" class="control-label">Department</label>
                    <input type="text" id="department" class="form-control" required placeholder="Department"
                        v-model="department">
                </div>
                <div class="form-group">
                    <label for="institution" class="control-label">Institution</label>
                    <input type="text" id="institution" class="form-control" required placeholder="Institution"
                        v-model="institution">
                </div>
                <button type="submit" class="btn btn-primary" :disabled="submitting">
                    <span v-if="submitting" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    Submit
                </button>
            </form>
            <div class="alert alert-danger" role="alert" v-if="error">
                {{ error }}
            </div>
        </div>
        <div v-if="alreadySigned">
            <div class="alert alert-primary" role="alert">
                Your signature has been included. Thanks for your support.
            </div>
        </div>
        <br>
        <div>
            <h2>Signees <span v-if="!loading">({{signatures.length}})</span></h2>
            <table class="table">
                <tbody>
                    <tr v-for="sig in signatures">
                        <td>{{sig.timestamp.toLocaleString()}}</td>
                        <td>{{sig.name}}</td>
                        <td>{{sig.position}}</td>
                        <td>{{sig.department}}</td>
                        <td>{{sig.institution}}</td>
                    </tr>
                </tbody>
            </table>
            <div v-if="!signatures.length" style="display:none;">No signatures</div>
            <div v-if="loading" class="spinner-border" style="width: 3rem; height: 3rem; margin: auto;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        (async function () {
            var app = new Vue({
                el: '#app',
                data: {
                    name: '',
                    institution: '',
                    position: '',
                    department: '',
                    alreadySigned: false,
                    signatures: [],
                    error: '',
                    submitting: false,
                    loading: false,
                },
                async mounted() {
                    if (localStorage.alreadySigned) {
                        this.alreadySigned = localStorage.alreadySigned;
                    }

                    this.loading = true;

                    let { signatures } = await (await fetch(`/api/signatures`)).json();

                    this.signatures = signatures
                        .map(c => ({
                            name: c.name,
                            institution: c.institution,
                            position: c.position,
                            department: c.department,
                            timestamp: new Date(c.timestamp)
                        }))
                        .sort((a, b) => b.timestamp - a.timestamp);

                    this.loading = false;
                },
                methods: {
                    async submitSignature(e) {
                        e.preventDefault();
                        this.submitting = true;

                        let response = await fetch('/api/signatures', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                name: this.name,
                                position: this.position,
                                department: this.department,
                                institution: this.institution
                            })
                        });

                        if (!response.ok) {
                            this.error = 'Failed to submit signature: ' + response.statusText;
                        }
                        else {
                            localStorage.alreadySigned = true;
                            location.reload();
                        }

                        this.submitting = false;
                    }
                }
            })

        }())
    </script>
</body>

</html>